<div class="row">
<h1>Galery</h1>
  <div class="images-wreaper">
    <div *ngIf="images && images.length === 0" class="alert alert-info">
      <p>There are no images for this story...</p>
    </div>
    <div *ngIf="images && images.length > 0">
      <div *ngFor="let image of images" class="col-md-3">
        <a href="/assets/images/{{ image.path }}"
            data-lightbox="image" 
            data-title="image"
          >
          <img class="img-responsive" src="/assets/images/{{ image.path }}">
        </a>
      </div>
    </div>
  </div>
</div>