<div class="container">
  <header>
    <div id="logo">
    <h1><a routerLink="/" id="logoLink">TOP NEWS</a> <span id="iisrt"><span id="ii">II</span><a href="/"><span id="srt">TN</span></a></span></h1>
    <div id="tagline">
      <h2>Just another news provider!</h2>
    </div>
    </div>
    <nav>
      <ul>
          <li><a routerLink="/">Home</a></li>
          <li><a routerLink="/about">About</a></li>
          <li><a routerLink="/contact">Contact</a></li>
        </ul>
    </nav>
  </header>
</div>

<router-outlet></router-outlet>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <ul class="list-inline" id="footerLinks">
          <li><a routerLink="/">Home</a></li>
          <li><a routerLink="/about">About</a></li>
          <li><a routerLink="/contact">Contact</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <p>Copyright &amp; copy TopNews. All Rights Reserved.</p>
      </div>
    </div>
  </div>
</footer>